src/__pycache__
src/keller.py 
src/g_glad.py
test/results_*
test/scripts_scMultiSim
test/scripts_GGM_bifur_v2
test/scripts_GGM_bifurcate
test/scripts_THP-1/test_THP-1.pbs
test/scripts_THP-1/test_THP-1.py 
test/scripts_THP-1/test_THP-1.job
SCODE
CSN
data/continuousODE
data/GGM_bifurcate
simulator/boolODE
simulator/linearODE
