src/__pycache__
test/results_old/
test/results_GGM/
test/results_softODE/
test/results_softODE_sergio/
test/results_scMultiSim/
test/results_THP-1/
test/scripts_GGM1
test/scripts_GGM2 
test/scripts_scMultiSim
test/scripts_softODE1/*.pbs
test/scripts_softODE1/*.err
test/scripts_GGM_bifurcate/*.out
test/scripts_GGM_bifurcate/*.job
test/scripts_GGM_bifurcate/*.err
test/scripts_GGM_linear/*.out
test/scripts_GGM_linear/*.job
test/scripts_GGM_linear/*.err
SCODE
data
